@model HospitalIMSModels.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.weightKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.weightKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.heightFt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.heightFt)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
